<a href="{% url 'admin_dashboard' %}" class="list-group-item list-group-item-action">
                    <i class="bi bi-speedometer2"></i> <span class="link-text">Dashboard</span>
                </a>
                <a href="{% url 'user_management' %}" class="list-group-item list-group-item-action">
                    <i class="bi bi-people"></i> <span class="link-text">User Management</span>
                </a>
                <a href="{% url 'appointment_management' %}" class="list-group-item list-group-item-action">
                    <i class="bi bi-calendar-check"></i> <span class="link-text">Appointments</span>
                </a>
                <a href="{% url 'reports_analytics' %}" class="list-group-item list-group-item-action">
                    <i class="bi bi-graph-up"></i> <span class="link-text">Reports & Analytics</span>
                </a>
                <a href="{% url 'announcements' %}" class="list-group-item list-group-item-action">
                    <i class="bi bi-megaphone"></i> <span class="link-text">Announcements</span>
                </a>
                <a href="{% url 'activity_logs' %}" class="list-group-item list-group-item-action">
                    <i class="bi bi-clock-history"></i> <span class="link-text">Activity Logs</span>
                </a>
                <a href="{% url 'system_settings' %}" class="list-group-item list-group-item-action">
                    <i class="bi bi-gear"></i> <span class="link-text">System Settings</span>
                </a>