<a
  href="{% url 'patient_dashboard' %}"
  class="list-group-item list-group-item-action"
>
  <i class="bi bi-speedometer2"></i> <span class="link-text">Dashboard</span>
</a>
<a
  href="{% url 'find_doctor' %}"
  class="list-group-item list-group-item-action"
>
  <i class="bi bi-search"></i> <span class="link-text">Find Doctor</span>
</a>
<a
  href="{% url 'book_appointment' %}"
  class="list-group-item list-group-item-action"
>
  <i class="bi bi-calendar-plus"></i>
  <span class="link-text">Book Appointment</span>
</a>
<a
  href="{% url 'patient_prescriptions_list' %}"
  class="list-group-item list-group-item-action"
>
  <i class="bi bi-file-earmark-medical"></i>
  <span class="link-text">My Prescriptions</span>
</a>
<a
  href="{% url 'upload_medical_record' %}"
  class="list-group-item list-group-item-action"
>
  <i class="bi bi-file-earmark-arrow-up"></i>
  <span class="link-text">Medical Records</span>
</a>
<a
  href="{% url 'appointment_history' %}"
  class="list-group-item list-group-item-action"
>
  <i class="bi bi-clock-history"></i>
  <span class="link-text">Appointment History</span>
</a>
<a
  href="{% url 'edit_profile' %}"
  class="list-group-item list-group-item-action"
>
  <i class="bi bi-person-vcard"></i> <span class="link-text">My Profile</span>
</a>